@import 'header.css';
@import 'font-faces.css';
@import 'menu.css';
@import 'slider.css';
@import 'thoughts.css';
@import 'shared.css';
@import 'stack.css';
@import 'main-text.css';

body {
    font-family: MyriadProRegular, sans-serif;
    margin: 0;
    padding: 0;
}

b {
    font-family: MyriadProBold;
}

/* Should be removed after mobile version design implemented */
header, section, footer {
    min-width: 1200px;
}
