.slider {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    position: absolute;
    width: inherit;
    z-index: -1;
}

.navigators-container {
    width: 157px;
    height: 2px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
}

.navigators-container .navigator {
    display: inline-block;
    width: 49px;
    height: 2px;
    background-color: #bab8b2;
    opacity: 0.5;
    margin-right: 5px;
    vertical-align: top;
    transition: opacity ease-out 0.5s;
}

.navigators-container .navigator:last-child {
    margin: 0;
}

.active-navigator {
    opacity: 1 !important;
}

.slider-toning {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.502;
    z-index: -1;
}

.images-container {
    height: 100%;
    white-space: nowrap;
}

.image-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: top;
    background-color: #ececec;
}

.image-wrapper img {
    min-width: 100%;
}

.slider-prev, .slider-next {
    background: none;
    outline: none;
    border: none;
    padding: 0;

    position: absolute;
    width: 16px;
    height: 30px;
    background-image: url('../images/arrow.png');
    top: 483px;
    cursor: pointer;
    z-index: 999;
}

.slider-prev {
    left: 21px;
}

.slider-next {
    right: 21px;
    transform: rotate(180deg);
}

.slide-show-switch-container {
    position: absolute;
    top: 100px;
    right: 15px;
    color: white;
}

.slide-show-switch-container .slide-show-switch, label {
    cursor: pointer;
}

.slide-show-switch {
    display: none;
}

.slide-show-switch-label {
    position: relative;
}

.slide-show-switch-label::before {
    display: inline;
    position: absolute;
    content: '✓';
    right: 100%;
    bottom: 0;
    padding: 0 5px;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 1em;
}

.slide-show-switch-checked::before {
    color: limegreen;
}
